{% extends "base.html.twig" %}
{% block form %}
<div class="col-md-5">
    <form action="{{ path('get_form', {'formName': 'general_info'}) }}" method="post" id="marketing">
        <h1 class="h1">Маркетинг</h1>
        <div class="form-group">
            <input type="text" class="form-control required" name="competitors" placeholder="Конкуренты">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="market_position" placeholder="Позиция компании на рынке">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="market_capacity"
                   placeholder="Ёмкость рынка">
        </div>
        <div class="next-btn">
            <button type="submit" class="btn btn-default">
                <span class="next-text">Далee ></span>
            </button>
        </div>
    </form>
</div> <!-- form -->
{% endblock %}