{% extends 'base.html.twig' %}
{% block form %}
    <div class="col-md-5">
        <form action="{{ path('create_report') }}" method="post" id="modules">
            <h1 class="h1">Программные модули</h1>
            <div class="checkbox">
                <label><input type="checkbox" name="news" value="">Новости</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="spam" value="">Почтовая рассылка</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="catalog" value="">Каталог</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="store" value="">Интернет-магазин
                    (службы доставки, системы оплаты, интеграция с агрегаторами)</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="search" value="">Поиск</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="faq" value="">Вопрос-ответ</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="register" value="">Регистрация посетителей</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="photo" value="">Фотогалерея</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="video" value="">Видео-галерея</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="vacancy" value="">Вакансии</label>
            </div>
            <div class="form-group">
            <textarea type="text" class="form-control required" name="other_modules"
                      placeholder="Другие"></textarea>
            </div>
            <div class="next-btn">
                <button type="submit" class="btn btn-default">
                    <span class="next-text">Готово ></span>
                </button>
            </div>
        </form>
    </div> <!-- form -->
{% endblock %}