{% extends "base.html.twig" %}
{% block form %}
<div class="col-md-5">
    <form action="{{ path('get_form', {'formName': 'marketing'}) }}" method="post" id="client-data">
        <h1 class="h1">Создать бриф</h1>
        <div class="form-group">
            <input type="text" class="form-control required" name="company" placeholder="Ваша компания">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="contact"
                   placeholder="Контактные данные лица, ведущего проект со стороны заказчика">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="product_name"
                   placeholder="Название (предприятия, товара или услуги)">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="sphere" placeholder="Сфера деятельности">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="geography" placeholder="География деятельности">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="product_specs"
                   placeholder="Основные характеристики товаров и услуг">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="target_group" placeholder="Целевая аудитория">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="key_words" placeholder="Семантическое ядро">
        </div>
        <div class="form-group">
            <input type="text" class="form-control required" name="guideline"
                   placeholder="Наличие гайдлайна, элементов фирменного стиля">
        </div>
        <div class="next-btn">
            <button type="submit" class="btn btn-default">
                <span class="next-text">Далee ></span>
            </button>
        </div>

    </form>
</div> <!-- form -->
{% endblock %}