{% extends "base.html.twig" %}
{% block form %}
<div class="col-md-5">
    <form action="{{ path('get_form', {'formName': 'site_modules'}) }}" method="post" id="design_tech_claim">
        <h1 class="h1">Технические требования к программному коду</h1>
        <div class="form-group">
            <textarea type="text" class="form-control required" name="mobile_devices"
                      placeholder="Адаптация под мобильные устройства"></textarea>
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control required" name="browsers"
                      placeholder="Версии браузеров, которые необходимо поддерживать"></textarea>
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control required" name="screen_resolution"
                      placeholder="Основное разрешение экрана"></textarea>
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control required" name="media_content"
                      placeholder="Наличие медиа-контента в хорошем качестве"></textarea>
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control required" name="lang_versions"
                      placeholder="Языковые версии сайта"></textarea>
        </div>
        <div class="next-btn">
            <button type="submit" class="btn btn-default">
                <span class="next-text">Далee ></span>
            </button>
        </div>
    </form>
</div> <!-- form -->
{% endblock %}